@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full w-full bg-zui-dark text-zui-white;
  font-family: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border: 1px solid #1a1a1a;
}
